{% extends "base.html" %}
{% block title %}Book view{% endblock %}

{% block content %}
{% if form %}
<i class="bi bi-arrow-left" onclick="history.back()"></i>
<center><h1>Author view</h1></center><br>
<form method="post" class="form-horizontal">
    <p>{{ form.hidden_tag() }}
    <p>{{ form.fname.label() }} {{ form.fname(value=author.fname) }}
    <p>{{ form.lname.label() }} {{ form.lname(value=author.lname) }}
    <p>{{ form.birth_date.label() }} {{ form.birth_date(value=author.bdate.strftime('%Y-%m-%d')) }}
    {%for i in author.books %}
        <p>{{ i.name }}</p>
    {% endfor%}
    <p>{{ form.submit(class="btn btn-primary") }}
</form>
{% else %}
    <h1>Sorry, there is no book in our list...</h1>
{% endif %}
{% endblock %}